<div class="mainContainer">
	<section>
		<section class="search_tools">
			<input type="text" class="search rounded form-control" placeholder="Search" id="query" ng-model="query"/> <br/>
			<!--
			<select ng-model="orderProperty" class="form-control">
			  <option value="title">제목순</option>
			  <option value="author">작성자순</option>
			  <option value="created">작성일순(예전것부터)</option>
			  <option value="courseName">강의명순</option>
			</select>
			-->
		</section>
		<section class="result_container">
			<ul id="og-grid" class="og-grid" ng-class="{'closed_preview':isPreviewClosed()}" >
			    <li ng-repeat="course in courses | orderBy: orderProperty | filter:query" ng-class="{'og-expanded': course.isExpanded}"  style="height:{{ course.previewHeight + 260}}px">
			        <a ng-click="togglePreview(course.id)">
			            <img ng-src="{{ course.thumbnail_URL }}"/>
			        </a>
					<div ng-show="course.isExpanded" class="og-expander" style="height:{{ course.previewHeight }}px" ng-animate=" 'animate' ">
					<!-- 					<div ng-show="course.isExpanded" class="og-expander" ng-style="style()" resize>
-->
					    <div class="og-expander-inner">
					    	<span ng-click="hidePreview(course.id)"><img class="close" src="img/delete_sign-512.png"/></span>
					        <!--<span class="og-close" ng-click="hidePreview(course.id)"></span>-->
					        <div class="og-details" ng-controller="SlidePreviewModalCtrl">
					        	<!--<p>{{ course.name_ko }}</p>
					            <span>{{ course.summery }}</span>-->
					            <div class="slide_item" ng-repeat="slide in course.slides | orderBy: 'updated'" ng-click="open(slide.id)">
					            	<div class="slide_image" style="background-image:url('{{ slide.thumbnailurl }}')"></div>
					            	<span class="slide_title">{{ slide.title }}</span>
					            	<span class="slide_updated">{{ slide.updated | date:'yyyy-MM-dd' }}</span>
					            </div>
					        </div>
					    </div>
					</div>			        
			    </li>
			</ul>
		</section>
	<section>
</div>
<style>
img.close {
	margin-top: -30px;
	height: 40px;
	width: 40px;
}

body {
	color: #34463d;
}
table *{
	1vertical-align: top;
}
td>img {
	height: 60px;
	border: 1px solid rgba(0,0,0,.1);
}

.btn {
background: #ebebeb;
background: -webkit-linear-gradient(#fff,#ebebeb);
background: -moz-linear-gradient(#fff,#ebebeb);
background: linear-gradient(#fff,#ebebeb);
border: 1px solid #b5b5b5;	
}
.btn:hover {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(215, 215, 215));
}
section.search_tools {
	position: relative;
	display: block;
	width:100%;
}




 /* grid */
.og-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    USER-SELECT: NONE; /* CSS3 */
}
 
.og-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
    width: 250px;
        USER-SELECT: NONE; /* CSS3 */
}

.og-grid li > a,
.og-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
        USER-SELECT: NONE; /* CSS3 */
} 
.og-grid li > a img {
	width: 250px;
	border: 1px solid RGBA(0,0,0,.1);
}
 
 
/* expand */
.og-grid li.og-expanded {
	1height: 100px;
	
}
.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ddd;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}

/* 프리뷰 영역의 애니메니션 관련 설정 */

/* 펼처진 프리뷰영역 */
.og-expander {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    height: 0px;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    overflow: hidden;


    USER-SELECT: NONE; /* CSS3 */

}
 
.og-expander-inner {
    padding: 50px 30px;
    height: 100%;
    overflow:auto;
    
    USER-SELECT: NONE; /* CSS3 */

}

/* 닫기 엑스 */
.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
 
.og-close::before,
.og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
 
.og-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
.og-close:hover::before,
.og-close:hover::after {
    background: #333;
}

/* 프리뷰 내용 */
.og-fullimg
{
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.og-details {
    width: 100%;
    float: left;
    1height: 100%;
    overflow: hidden;
    position: relative;
    

    USER-SELECT: NONE; /* CSS3 */
}
.og-details {
    padding: 0 40px 0 20px;
}
 
.og-fullimg {
    text-align: center;
}
 
.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}
 
.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}
 
.og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}
 
.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}
 
.og-details a:hover {
    border-color: #999;
    color: #999;
}
.slide_item {
	position: relative;

	display: inline-block;
	width: 48%;
	height: 70px;
	background-color: aqua;
	vertical-align: top;
	margin: 5px;
	
	
	
background: #fff;
border-radius: 2px;
-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.71);
box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.71);
	transition: height .3s;
	
	  -WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: NONE; /* KONQUEROR */
    -MOZ-USER-SELECT: NONE; /* FIREFOX */
    -MS-USER-SELECT: NONE; /* IE */
    USER-SELECT: NONE; /* CSS3 */
}

.slide_item:hover {
	-ms-transform: rotate(1deg); /* IE 9 */
	-webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
	transform: rotate(1deg);
}

.slide_item .slide_image{
	display: inline-block;
	width: 90px;
	height: 70px;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	background-size: cover;
}
.slide_item .slide_title {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 90px;
	height: 28px;
	font-size: 20px;
	padding: 5px;
	line-height: 20px;
	color: #34463d;
}
.slide_item .slide_updated {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 28px;
	font-size: 16px;
	padding-right: 5px;	
	color: #7c8d87;
}

 .form-control {
	 width: 400px;
	 margin: 0 auto;
 }
 
ul.og-grid>li:not(.og-expanded){
	opacity: .5;
}
ul.og-grid.closed_preview>li{
	opacity: 1;
}

/* 미디어쿼리 */
@media screen and (min-width: 1300px) {
      .slide_item {
	width: 32%;
	} 
}
@media screen and (max-width: 830px) {

    .og-expander h3 { font-size: 32px; }
    .og-expander p { font-size: 13px; }
    .og-expander a { font-size: 12px; }

}
 
@media screen and (max-width: 650px) {
 
    .og-fullimg { display: none; }
    .og-details { float: none; width: 100%; }
 
}
@media (max-width: 768px){
 .slide_item {
	width: 100%;
	}  

} 
@media (max-width: 700px){

 body>.container {
	 margin:  0;
	 padding: 0;
 }

 .form-control {
	 width: 400px;
	 margin: 0 auto;
 }

}
/* search */ 
/* thum,bnail items */</style>